

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'poppins';
  src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
} */
:root{
  /* colors */
  --primaryColor:orangered;
  --secondaryColor:rgb(121, 121, 216);
  --greyColor:#eee;

  /* Font and Typography */
  --normalFontSize:.9em;
  --headingFontSize:1em;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

body{
  background: #fefefe;
  font-family:'Mulish';
}
a{
text-decoration: none;
color: inherit;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}
